<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
#board-pos {
    position: absolute;
    top: 50%;
    margin-top: -260px;
    margin-left: -260px;
    left: 50%;
    width: 528px;
  height: 528px;
  background-color: #000;
}

#board {
  width: 508px;
  height: 508px;
  padding: 10px;
}

#board div {
    width: 125px;
    height: 125px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border: 1px solid;

}
.blank {
  background: black!important;
}
.done {
    color: #000;
    font-size: 30px;
    padding: 20px;
    margin-top: -75px;
}
.timer {
  color: #fff;
    font-size: 30px;
    padding: 20px;
    position: absolute;
    background-color: #000;
    top: 0px;
    border-radius: 0px 0px 0px 5px;
    right: 0px;
}
.done button{
  float: right;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: 0px;
    padding: 10px 20px;
    background-color: #000;
}
</style>


<div class="content" role="main">
  <div class="timer" >Timer: {{time}}   |   Count: {{count}}</div>


  <div id="board-pos">
    <div *ngIf="status === true" class="done" >Done<button (click)="playAgain()">Shuffel</button></div>
    <div id="board" >
      <div  *ngFor="let block of blocks; let i = index" class="block_{{block.number}} {{block.status}}" style="background: url(../assets/puzzel/{{block.background}}.jpg)" (click)="move(i)" ></div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>